<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_scheme_background }}">
    <link rel="canonical" href="{{ canonical_url }}">

    <!-- Fonts and Tailwind CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Fredoka+One&family=Nunito:wght@400;700&display=swap"
      rel="stylesheet"
    >
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Shopify-required -->
    {{ content_for_header }}
  </head>
  <body>
    <div id="MainContent">
      {{ content_for_layout }}
    </div>

    <!-- Global JS (if any) -->
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
